@import "./variables";

// hàm để responsive
@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) and (min-width: $mobile) {
        @content;
    }
}

@mixin laptop {
    @media (max-width: $laptop) {
        @content;
    }
}
//

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

a,
a:hover {
    color: #292929;
    text-decoration: none;
}

::selection {
    background: rgba(200, 200, 200, 0.99);
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(180, 188, 195);
        border-radius: 20px;
        border: 3px solid rgb(180, 188, 195);
    }
}

.btn.btn-primary,
.btn.btn-secondary,
.btn.btn-exercise {
    border-color: unset;
    border-radius: 8px;
    padding: 8px 24px;
    opacity: 1;
    transition: all 0.3s ease;

    &:hover {
        opacity: 0.9;
    }

    &:focus {
        border-color: unset;
        box-shadow: unset;
    }

    .text-uppercase {
        letter-spacing: 1px;
    }
}

.btn.btn-primary {
    background: $primary-color;
}

.btn.btn-exercise {
    color: $white-color;
    background: #fb5533;
}

.btn.btn-secondary {
    &:hover {
        opacity: 0.8;
    }
}

.fs-7 {
    font-size: 0.9rem !important;
}

.header {
    position: fixed;
    inset: 0 0 auto 0;
    height: 66px;
    background-color: $white-color;
    border-bottom: 1px solid #f0f0f0;
    box-shadow: 0px 4px 12px 0 #f7f7f7;
    display: flex;
    align-items: center;
    padding: 0 28px;
    z-index: 9;

    &__logo {
        display: flex;
        align-items: center;
        flex: 1 1;

        img {
            width: 36px;
            height: 36px;
            flex-shrink: 0;
            object-fit: contain;
        }

        h4 {
            font-size: 1.2rem;
            margin: 0 0 0 16px;
            color: #333;
        }
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1;
    }

    &__search {
        display: flex;
        align-items: center;
        width: 420px;
        border: 1px solid #dce0e3;
        height: 40px;
        border-radius: 20px;
        padding: 0 16px;

        &:focus-within {
            border-color: #f05123;
        }

        ion-icon {
            width: 1em;
            color: #a8b2b8;
        }

        input {
            font-size: 14px;
            outline: none;
            border: none;
            padding: 0 10px;
            flex: 1 1;
            height: 100%;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1 1;

        &--noti {
            padding: 8px;

            ion-icon {
                vertical-align: -0.125em;
                width: 0.875em;
                color: #707070;
                font-size: 1.5rem;
            }
        }

        &--avatar {
            img {
                width: 24px;
                height: 24px;
                margin-left: 12px;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
            }
        }

        &--userMenu {
            background: $white-color;
            position: absolute;
            inset: 0px 0px auto auto;
            min-width: 265px;
            padding: 8px 24px;
            border-radius: 10px;
            transform: translate(-28px, 45px);
            transition: transform 0.3s ease;
            opacity: 0;
            visibility: hidden;
            z-index: 10;

            &.show {
                opacity: 1;
                visibility: visible;
                transform: translate(-28px, 55px);
            }

            .user {
                display: flex;
                align-items: center;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-left: 0;
                }

                &__info {
                    margin-left: 12px;

                    .name {
                        font-weight: 600;
                    }

                    .username {
                        font-size: 14px;
                        color: #757575;
                        margin-top: 4px;
                    }
                }
            }

            .list {
                padding-left: 0;
                margin: 0;

                &__item {
                    &:hover .list__link {
                        color: #111;
                    }
                }

                &__link {
                    color: #666;
                    display: block;
                    padding: 10px 0;
                    text-decoration: none;
                }
            }
        }
    }
}

.sidebar {
    position: fixed;
    inset: 66px auto 0 0;
    background-color: $white-color;
    width: 96px;
    padding: 8px 8px 0 8px;
    z-index: 8;
    display: flex;
    justify-content: center;

    &__link {
        color: #404040;
        width: 72px;
        height: 72px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        margin-top: 4px;

        &:hover {
            background: #f5f5f5;
        }

        &.active {
            background: #e8ebed;
        }

        ion-icon {
            font-size: 20px;
        }

        span {
            margin-top: 6px;
            font-size: 14px;
            font-weight: 600;
        }
    }
}

//code main content
.main {
    min-height: 100vh;
    padding: 74px 28px 78px 104px;

    .subjects {
        padding-left: 40px;

        .nav-link {
            color: #333;

            &:hover,
            &.active {
                border-color: $white-color $white-color #292929 $white-color;
            }

            &.active {
                font-weight: 600;
            }
        }

        &__item {
            margin-bottom: 48px;
        }

        &__link {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 196px;
            border-radius: 16px;
            border: 1px solid #dee2e6;

            .brand {
                width: 40%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $white-color;
                font-size: 30px;
                font-weight: bold;
                border-top-left-radius: 16px;
                border-bottom-left-radius: 16px;
                clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
            }

            .subject {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin: 0 auto;

                h4 {
                    font-size: 22px;
                    font-weight: 500;
                }

                ion-icon {
                    font-size: 40px;
                }
            }
        }
    }

    .subject__detail,
    .learning__list {
        .accordion {
            &-item {
                margin-bottom: 8px;
            }

            &-button {
                background: #f5f5f5;
                font-weight: 600;
                line-height: 1.5;

                span {
                    color: #333;
                    font-weight: 400;
                }

                &:focus {
                    border-color: unset;
                    box-shadow: unset;
                }

                &:not(.collapsed) {
                    color: currentColor;
                }
            }

            &-collapse {
                transition: all 0.3s ease;

                .lession__item {
                    display: block;
                    line-height: 1.5;
                    padding: 8px 26px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.03);

                    &:hover{
                        background:rgba(0, 0, 0, 0.01);
                    }
                }
            }
        }
    }


    .subject__detail {
        padding: 0 40px;

        &--list {
            li {
                line-height: 1.6;
                font-size: 16px;
                margin-bottom: 10px;
                position: relative;
                color: #494949;
                padding-left: 35px;

                ion-icon {
                    font-size: 20px;
                    position: absolute;
                    top: 3px;
                    left: 0;
                }
            }
        }

        .chart {
            width: 100%;
            background: $white-color;
            border-radius: 8px;
            padding: 20px 30px;

            .btn-instruct {
                outline: none;
                border: none;
                background: transparent;
            }

            &__item {
                display: flex;
                align-items: center;
                padding: 4px 0;

                img {
                    margin-right: 12px;
                }

                .name {
                    flex: 1 1;
                    font-weight: 500;
                }

                ion-icon {
                    color:red;
                    font-size: 24px;
                }
            }

            .modal-dialog {
                max-width: 800px;
                transition: all 0.3s ease;

                .btn-close {
                    box-shadow: unset;
                }
            }
        }
    }

    .learning {
        padding-left: 40px;

        &__content {
            background: $white-color;
            padding: 20px;
            border-radius: 8px;

            .title {
                font-weight: 600;
            }

            .report {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                &__btn {
                    display: flex;
                    align-items: center;
                    outline: none;
                    border: none;
                    background: transparent;

                    ion-icon {
                        font-size: 26px;
                    }
                }

                .modal-dialog{
                    transition: all 0.3s ease;
                }
                
                .btn-close{
                    box-shadow: unset;
                }

                .col-form-label{
                    font-weight: 600;
                }

                textarea:focus{
                    box-shadow: unset;
                    border-color: unset;
                }
            }
        }
    }
}

.footer {
    position: fixed;
    inset: auto 0 0 0;
    background-color: $white-color;
    height: 34px;
    padding: 0 28px;
    z-index: 9;
    display: flex;
    align-items: center;
    border-top: 1px solid #f0f0f0;

    &__links,
    &__socials {
        margin-bottom: 0;
    }

    &__links {
        display: flex;
        padding-left: 16px;

        a {
            font-size: 14px;
            font-weight: 600;
            color: #82919b;
            padding: 4px 10px 6px;
        }
    }

    &__socials {
        display: flex;
        margin-left: auto;

        a {
            display: flex;
            font-size: 20px;
            color: #82919b;
        }
    }
}
