@import "./variables";

// hàm để responsive
@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) and (min-width: $mobile) {
        @content;
    }
}

@mixin laptop {
    @media (max-width: $laptop) {
        @content;
    }
}
//

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

a,
a:hover {
    color: $primary-color;
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(180, 188, 195);
        border-radius: 20px;
        border: 3px solid rgb(180, 188, 195);
    }
}

.header {
    position: fixed;
    inset: 0 0 auto 0;
    height: 66px;
    background-color: $white-color;
    border-bottom: 1px solid #f0f0f0;
    box-shadow: 0px 4px 12px 0 #f7f7f7;
    display: flex;
    align-items: center;
    padding: 0 28px;
    z-index: 9;

    &__logo {
        display: flex;
        align-items: center;
        flex: 1 1;

        img {
            width: 36px;
            height: 36px;
            flex-shrink: 0;
            object-fit: contain;
        }

        h4 {
            font-size: 1.2rem;
            margin: 0 0 0 16px;
            color: #333;
        }
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1;
    }

    &__search {
        display: flex;
        align-items: center;
        width: 420px;
        border: 1px solid #dce0e3;
        height: 40px;
        border-radius: 20px;
        padding: 0 16px;

        &:focus-within {
            border-color: #f05123;
        }

        ion-icon {
            width: 1em;
            color: #a8b2b8;
        }

        input {
            font-size: 14px;
            outline: none;
            border: none;
            padding: 0 10px;
            flex: 1 1;
            height: 100%;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1 1;

        &--noti {
            padding: 8px;

            ion-icon {
                vertical-align: -0.125em;
                width: 0.875em;
                color: #707070;
                font-size: 1.5rem;
            }
        }

        &--avatar {
            img {
                width: 24px;
                height: 24px;
                margin-left: 12px;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
            }
        }

        &--userMenu {
            background: $white-color;
            position: absolute;
            inset: 0px 0px auto auto;
            min-width: 265px;
            padding: 8px 24px;
            border-radius: 10px;
            transform: translate(-28px, 45px);
            transition: transform 0.3s ease;
            opacity: 0;
            visibility: hidden;
            z-index: 10;

            &.show {
                opacity: 1;
                visibility: visible;
                transform: translate(-28px, 55px);
            }

            .user {
                display: flex;
                align-items: center;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-left: 0;
                }

                &__info {
                    margin-left: 12px;

                    .name {
                        font-weight: 600;
                    }

                    .username {
                        font-size: 14px;
                        color: #757575;
                        margin-top: 4px;
                    }
                }
            }

            .list {
                padding-left: 0;
                margin: 0;

                &__item {
                    &:hover .list__link {
                        color: #111;
                    }
                }

                &__link {
                    color: #666;
                    display: block;
                    padding: 10px 0;
                    text-decoration: none;
                }
            }
        }
    }
}

.sidebar {
    position: fixed;
    inset: 74px auto 0 0;
    background-color: $white-color;
    width: 96px;
    padding: 0 8px;
    z-index: 9;
    display: flex;
    justify-content: center;

    &__link {
        color: #1a1a1a;
        width: 72px;
        height: 72px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        margin-top: 4px;

        &:hover {
            background: #f5f5f5;
        }

        &.active {
            background: #e8ebed;
        }

        ion-icon {
            font-size: 20px;
        }

        span {
            margin-top: 6px;
            font-size: 14px;
            font-weight: 600;
        }
    }
}

//code main content
.main {
    min-height: 100vh;
    padding: 78px 28px 78px 104px;
}

.footer {
    position: fixed;
    inset: auto 0 0 0;
    background-color: $white-color;
    height: 34px;
    padding: 0 28px;
    z-index: 9;
    display: flex;
    align-items: center;
    border-top: 1px solid #f0f0f0;

    &__links,
    &__socials {
        margin-bottom: 0;
    }

    &__links {
        display: flex;
        padding-left: 16px;

        a {
            font-size: 14px;
            font-weight: 600;
            color: #82919b;
            padding: 4px 10px 6px;
        }
    }

    &__socials {
        display: flex;
        margin-left: auto;

        a {
            display: flex;
            font-size: 20px;
            color: #82919b;
        }
    }
}
