* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

a,
a:hover {
  color: #292929;
  text-decoration: none;
}

::-moz-selection {
  background: rgba(200, 200, 200, 0.99);
}

::selection {
  background: rgba(200, 200, 200, 0.99);
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background: #b4bcc3;
  border-radius: 20px;
  border: 3px solid #b4bcc3;
}

.btn.btn-primary,
.btn.btn-secondary,
.btn.btn-exercise {
  border-color: unset;
  border-radius: 8px;
  padding: 8px 24px;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn.btn-primary:hover,
.btn.btn-secondary:hover,
.btn.btn-exercise:hover {
  opacity: 0.9;
}

.btn.btn-primary:focus,
.btn.btn-secondary:focus,
.btn.btn-exercise:focus {
  border-color: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.btn.btn-primary .text-uppercase,
.btn.btn-secondary .text-uppercase,
.btn.btn-exercise .text-uppercase {
  letter-spacing: 1px;
}

.btn.btn-primary {
  background: #113685;
}

.btn.btn-exercise {
  color: #fff;
  background: #fb5533;
}

.btn.btn-secondary:hover {
  opacity: 0.8;
}

.fs-7 {
  font-size: 0.9rem !important;
}

.header {
  position: fixed;
  inset: 0 0 auto 0;
  height: 66px;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  -webkit-box-shadow: 0px 4px 12px 0 #f7f7f7;
          box-shadow: 0px 4px 12px 0 #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 28px;
  z-index: 9;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.header__logo img {
  width: 36px;
  height: 36px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__logo h4 {
  font-size: 1.2rem;
  margin: 0 0 0 16px;
  color: #333;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 420px;
  border: 1px solid #dce0e3;
  height: 40px;
  border-radius: 20px;
  padding: 0 16px;
}

.header__search:focus-within {
  border-color: #f05123;
}

.header__search ion-icon {
  width: 1em;
  color: #a8b2b8;
}

.header__search input {
  font-size: 14px;
  outline: none;
  border: none;
  padding: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  height: 100%;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.header__actions--noti {
  padding: 8px;
}

.header__actions--noti ion-icon {
  vertical-align: -0.125em;
  width: 0.875em;
  color: #707070;
  font-size: 1.5rem;
}

.header__actions--avatar img {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.header__actions--userMenu {
  background: #fff;
  position: absolute;
  inset: 0px 0px auto auto;
  min-width: 265px;
  padding: 8px 24px;
  border-radius: 10px;
  -webkit-transform: translate(-28px, 45px);
          transform: translate(-28px, 45px);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}

.header__actions--userMenu.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-28px, 55px);
          transform: translate(-28px, 55px);
}

.header__actions--userMenu .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__actions--userMenu .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 0;
}

.header__actions--userMenu .user__info {
  margin-left: 12px;
}

.header__actions--userMenu .user__info .name {
  font-weight: 600;
}

.header__actions--userMenu .user__info .username {
  font-size: 14px;
  color: #757575;
  margin-top: 4px;
}

.header__actions--userMenu .list {
  padding-left: 0;
  margin: 0;
}

.header__actions--userMenu .list__item:hover .list__link {
  color: #111;
}

.header__actions--userMenu .list__link {
  color: #666;
  display: block;
  padding: 10px 0;
  text-decoration: none;
}

.sidebar {
  position: fixed;
  inset: 66px auto 0 0;
  background-color: #fff;
  width: 96px;
  padding: 8px 8px 0 8px;
  z-index: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar__link {
  color: #404040;
  width: 72px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 16px;
  margin-top: 4px;
}

.sidebar__link:hover {
  background: #f5f5f5;
}

.sidebar__link.active {
  background: #e8ebed;
}

.sidebar__link ion-icon {
  font-size: 20px;
}

.sidebar__link span {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 600;
}

.main {
  min-height: 100vh;
  padding: 74px 28px 78px 104px;
}

.main .subjects {
  padding-left: 40px;
  padding-top: 15px;
}

.main .subjects .nav-link {
  color: #333;
}

.main .subjects .nav-link:hover, .main .subjects .nav-link.active {
  border-color: #fff #fff #292929 #fff;
}

.main .subjects .nav-link.active {
  font-weight: 600;
}

.main .subjects__item {
  margin-bottom: 48px;
}

.main .subjects__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 196px;
  border-radius: 16px;
  border: 1px solid #dee2e6;
}

.main .subjects__link .brand {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.main .subjects__link .subject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.main .subjects__link .subject h4 {
  font-size: 22px;
  font-weight: 500;
}

.main .subjects__link .subject ion-icon {
  font-size: 40px;
}

.main .subject__detail .accordion-item,
.main .learning__list .accordion-item {
  margin-bottom: 8px;
}

.main .subject__detail .accordion-button,
.main .learning__list .accordion-button {
  background: #f5f5f5;
  font-weight: 600;
  line-height: 1.5;
}

.main .subject__detail .accordion-button span,
.main .learning__list .accordion-button span {
  color: #333;
  font-weight: 400;
}

.main .subject__detail .accordion-button:focus,
.main .learning__list .accordion-button:focus {
  border-color: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.main .subject__detail .accordion-button:not(.collapsed),
.main .learning__list .accordion-button:not(.collapsed) {
  color: currentColor;
}

.main .subject__detail .accordion-collapse,
.main .learning__list .accordion-collapse {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main .subject__detail .accordion-collapse .lession__item,
.main .learning__list .accordion-collapse .lession__item {
  display: block;
  line-height: 1.5;
  padding: 8px 26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

.main .subject__detail .accordion-collapse .lession__item:hover,
.main .learning__list .accordion-collapse .lession__item:hover {
  background: rgba(0, 0, 0, 0.01);
}

.main .subject__detail {
  padding-left: 40px;
  padding-top: 15px;
}

.main .subject__detail--list li {
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 10px;
  position: relative;
  color: #494949;
  padding-left: 35px;
}

.main .subject__detail--list li ion-icon {
  font-size: 20px;
  position: absolute;
  top: 3px;
  left: 0;
}

.main .subject__detail .chart {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 20px 30px;
}

.main .subject__detail .chart .btn-instruct {
  outline: none;
  border: none;
  background: transparent;
}

.main .subject__detail .chart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .subject__detail .chart__item img {
  margin-right: 12px;
}

.main .subject__detail .chart__item .avatar {
  width: 42px;
  height: 42px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.main .subject__detail .chart__item .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  font-weight: 500;
}

.main .subject__detail .chart__item ion-icon {
  color: red;
  font-size: 24px;
}

.main .subject__detail .chart .modal-dialog {
  max-width: 800px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main .subject__detail .chart .modal-dialog .btn-close {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.main .learning {
  padding-left: 40px;
  padding-top: 15px;
}

.main .learning__content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.main .learning__content .title {
  font-weight: 600;
}

.main .learning__content .report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .learning__content .report__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  border: none;
  background: transparent;
}

.main .learning__content .report__btn ion-icon {
  font-size: 26px;
}

.main .learning__content .report__btn:hover {
  opacity: 0.7;
}

.main .learning__content .report .modal-dialog {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main .learning__content .report .btn-close {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.main .learning__content .report .col-form-label {
  font-weight: 600;
}

.main .learning__content .report textarea:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border-color: unset;
}

.footer {
  position: fixed;
  inset: auto 0 0 0;
  background-color: #fff;
  height: 34px;
  padding: 0 28px;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #f0f0f0;
}

.footer__links, .footer__socials {
  margin-bottom: 0;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 16px;
}

.footer__links a {
  font-size: 14px;
  font-weight: 600;
  color: #82919b;
  padding: 4px 10px 6px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.footer__socials a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  color: #82919b;
}
/*# sourceMappingURL=app.css.map */